@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #5a646e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-family: "Encode Sans", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav a:hover {
  color: black;
  font-weight: 700;
}

nav a:visited {
  color: lightgray;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 10px;
  height: 30px;
}

.search button {
  background-color: #5a646e;
  color: orange;
  border-color: orange;
  border-width: 1px;
  border-radius: 3px;
  height: 30px;
}

.search button a {
  display: contents;
}

.search button:hover {
  font-weight: 700;
  background-color: black;
}

.login h1 {
  font-weight: 500;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 40%;
  gap: 20px;
  font-family: "Encode Sans", sans-serif;
}

.login div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login input {
  height: 20px;
}

.login button {
  background-color: #06caff;
  color: white;
  border: none;
  border-radius: 3px;
  width: 50px;
  height: 30px;
}

.login button:hover {
  font-weight: 700;
  background-color: black;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0%;
  gap: 10px;
}

.gallery a {
  display: contents;
}

aside {
  background-color: #5a646e;

  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  margin: 10px 0px;
  font-family: "Encode Sans", sans-serif;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}

aside a {
  display: contents;
  color: orange;
}

aside a:hover {
  font-weight: 700;
}
